.statusesList-visible {
  margin-top: 20px;
  padding: 5px 7px;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  opacity: 1;
  transition: all 300ms ease;
  border: 1px solid #DBDBDB;
}

.statusesList-hidden {
  margin-top: 20px;
  padding: 5px 7px;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #DBDBDB;
}

.FilterButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;

  img {
    margin: 2px 7px;
    height: 10px;
  }
}

.Status {
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0px;
}