.profile-image {
  position: relative;
  border-radius: 50%;
  height: 80%;
  margin-left: 1vw;
  margin-right: 1vw;
  cursor: pointer;
}

.centered {
  position:absolute;
  z-index: 9999;
  color: #646dfc;
  font-weight: 700;
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 12px);
  margin-left: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 1.4vw);
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;
} 