:root {
  --rdp-cell-size: 48px;
  --rdp-accent-color: #6171FF;
  --rdp-background-color: #F5F6FD;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #6171FF;
  --rdp-background-color-dark: #6171FF;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: none;
}

.window-modal {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 305px;
  display: flex;
  justify-content: center;
  width: calc(100% - 60px);
  background-color: white;
  font-size: 1em;
  border: 1px solid #DBDBDB;
  border-radius: 20px;
  z-index: 1;
}

.window-modal_2 {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 220px;
  display: flex;
  justify-content: center;
  width: calc(100% - 60px);
  background-color: white;
  border: 1px solid #DBDBDB;
  border-radius: 20px;
  z-index: 1;
}

