.salaryTable {
    margin: 20px 0px;
    background-color: #FFFFFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 60vh;
    overflow-y: auto;

    border: 1px solid #DBDBDB;

    .salaryHeader {
        color: #A7A7A7;
        //margin: 15px 25px;
        margin: 10px 25px;
        font-size: 0.75em;
        width: calc(100%-25px);
        display: grid;
        grid-template-columns:  18% 10% 10% 11% 11% 10% 10% 10% 10%;

        p {
            text-align: center;
        }
    }
    .salaryFooter {
        margin: auto 25px 0px;
        //margin-top: auto;
        padding: 13px 0;
        font-size: 0.75em;
        border-top: 1px solid #F3F2F8;
        font-weight: bold;
        width: calc(100%-25px);
        display: grid;
        grid-template-columns: 18% 10% 10% 11% 11% 10% 10% 10% 10%;

        p {
            text-align: center;
        }
    }

    .salaryRows {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        width: calc(100%-25px);
        margin: 0 25px;
    }
}