.navbar {
  display: flex;

  img::selection {
    background: transparent;
  }
  
  img {
    cursor: pointer;
  }

  .menuButton {
    margin-top: 41.5px;
    margin-left: 17.5px;
    opacity: 1;
    transition: all 900ms ease;
    
  }

  .menuButton-hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 900ms ease;
    margin-top: 41.5px;
    margin-left: 17.5px;
  }

  .wrapper {
    width: 100%;
    padding: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

