.projectsContent {
  margin: 10px 70px;
  margin-left: 6%;
  .link--wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
    margin: 15px;
    float: right;
    // margin-right: 70px;
    cursor: pointer;

    p {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 1.25em;
      color: #000000;
    }
  }

  .projectsTable {
    //margin: 20px 0px;
    background-color: #FFFFFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    overflow-y: auto;

    border: 1px solid #DBDBDB;

    .projectsHeader {
      color: #A7A7A7;
      margin: 15px 25px;
      font-size: 0.75em;
      //width: 100%;
      display: grid;
      grid-template-columns: 8% 15% 11% 10% 9% 9% 9% 12% 12% 2%;

      div {
        text-align: center;
        cursor: pointer;
      }

      p {
        text-align: center;
      }
    }

    .projectsRows {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      width: 100%;
    }
  }
}